body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

#main-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main-container h1 {
  color: gray;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 140px);
  grid-template-rows: repeat(3, 140px);
  gap: 5px;
  width: 100%;
  background-color: #fff;
}

.grid-square {
  width: 140px;
  height: 140px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
